.UserWrapper  {
    width: 100%;
    display: flex;
}

.UserContent {
    margin: 10px auto;
    border: 1px solid gray;
    width: 65%;
    padding: 15px 30px;
}

.UserContent img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.UserContent h5 {
    color: cyan;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}

.UserContent h2 {
    font-size: 55px;
    margin: 0px 0px;
    color: #fff;
    line-height: 40px;
}

.UserContent h4 {
    margin-bottom: 8px;
    font-size: 22px;
    margin-top: 20px;
    color: cyan;
    font-weight: 400;
}

.UserContent p {
    color: #B9BCC0;
    margin-bottom: 10px;
    margin: 5px 0px;
}

.UserContent .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    border: 2px solid cyan;
    margin-top: 8px;
    background-color: #282C34;
    font-weight: 600;
}

.UserContent .btn .btnText{
    margin-left: 5px;
}

.btnIcon {
    color: #00CF5D;
}

.UserContent .addedUser {
    display: none;
}