.Header {
    background: #282c34;
    width: 100%;
}

.Header-content {
    margin: 0px 80px;
    display: flex;
    align-items: center;
}

.Header .left h2 {
    color: cyan;
    font-weight: 400;
    font-size: 30px;
    margin: 15px;
}

.Header .right {
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.Header .right a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: hsla(0,0%,100%,.85);
    text-decoration: none;
    margin: 0 15px;

}