.UserController {
    display: flex;
    width: 100%;
    margin: 20px 0px;
}

.UsersPanel {
    width: 75%;
    margin-left: 80px;
    position: sticky;
    top: 30px
}

.AddedUser {
    width: 25%;
    margin-right: 80px;
    border-left: 1px solid gray;
    padding-left: 10px;
    margin: 0 auto;;
}